<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mwy.stock.reponstory.mapper.StockBuyQueueMapper">
    <update id="createTable">
        CREATE TABLE IF NOT EXISTS stock_buy_queue (
            `id` bigint(20) NOT NULL AUTO_INCREMENT,
            `stock_num` varchar(50) DEFAULT NULL COMMENT '股票编码',
            `detail` json DEFAULT NULL COMMENT '盘口详情',
            PRIMARY KEY (`id`),
            UNIQUE KEY `idx_stock_num` (`stock_num`)
            ) ENGINE=InnoDB AUTO_INCREMENT=1 DEFAULT CHARSET=utf8mb4;
    </update>
</mapper>