<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <!-- import CSS -->
<!--    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">-->
    <link href="https://cdn.bootcdn.net/ajax/libs/element-ui/2.15.14/theme-chalk/index.min.css" rel="stylesheet">
    <style type="text/css">
        html,
        body {
            margin: 0;
            padding: 0;
            height: 100%;
        }
        #app,.box{
            height: 100%;
        }
        .el-container {
            height: 100%;
        }


        .custom-tree-node {
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-size: 14px;
            padding-right: 8px;
        }
        .treeItemOp:hover{
            color: #5bb6ff;
        }
        .myEditor{
            height: 500px;
        }
        .redBoard{
            border: 1px solid red;
        }
        .el-tree {
            display: inline-block;
            min-width: 100%;
        }
    </style>
</head>
<body>
<div id="app">
    <el-container>
        <el-header style="position: fixed;height: 60px;width: 100%; background-color: #3a8ee6">
            <h3>可视化页面编辑器</h3>
        </el-header>
        <el-container style="padding-top: 60px">
            <el-aside width="250px">
                <el-tabs v-model="actTab">
                    <el-tab-pane label="标签树" name="first">
                        <div style="overflow: auto;height: 100%;width: 100%">
                            <el-tree
                                    :data="treeTag"
                                    node-key="id"
                                    draggable
                                    @node-drag-end="handleDragEnd"
                                    :expand-on-click-node="false"
                                    @node-click="handleNodeClick"
                                    default-expand-all>
                                <span class="custom-tree-node" slot-scope="{ node, data }">
                                    <span :class="data.id==editNode.id ? 'redBoard' : ''">{{ data.name || data.tag }}</span>
                                    <span>
                                        <i class="el-icon-circle-plus treeItemOp" @click="() => append(data)" ></i>
                                        <i class="el-icon-remove treeItemOp" @click="() => remove(node, data)"></i>
                                    </span>
                                </span>
                            </el-tree>
                        </div>
                    </el-tab-pane>
                    <el-tab-pane label="数据源" name="second">
                        <el-button @click="configDialogVisible = true">配置类</el-button>
                        <el-dialog
                                v-if="configDialogVisible"
                                title="配置类数据"
                                :visible.sync="configDialogVisible"
                                width="90%"
                                :before-close="configDialogBeforeClose">
                            <monaco-editor
                                    class="myEditor"
                                    v-model="dataConfigJson"
                                    language="javascript"
                                    :options="editorOptions"
                            ></monaco-editor>
                        </el-dialog>
                        <el-button @click="viewDialogVisible=true">视图类</el-button>
                        <el-dialog
                                v-if="viewDialogVisible"
                                title="视图类数据"
                                :visible.sync="viewDialogVisible"
                                width="90%"
                                :before-close="viewDialogBeforeClose">
                            <div>视图数据编辑无效</div>
                            <monaco-editor
                                    class="myEditor"
                                    v-model="viewConfigJson"
                                    language="javascript"
                                    :options="editorOptions"
                            ></monaco-editor>
                        </el-dialog>
                        <el-button @click="scriptDialogVisible=true">视图类</el-button>
                        <el-dialog
                                v-if="scriptDialogVisible"
                                title="视图类数据"
                                :visible.sync="scriptDialogVisible"
                                width="90%"
                                :before-close="codeFinish">
                            <monaco-editor
                                    class="myEditor"
                                    v-model="code"
                                    language="javascript"
                                    :options="editorOptions"
                            ></monaco-editor>
                        </el-dialog>
                    </el-tab-pane>
                </el-tabs>
            </el-aside>
            <el-main>
                <el-Button @click="refreshOut">刷新</el-Button>
                <!--                <my-cc :message="helloMessage"></my-cc>-->
                <component v-bind:is="latestComponentVersion" :message="helloMessage" :editnodeid="editNode.id"></component>
            </el-main>
            <el-aside width="250px">
                <div class="grid-content bg-purple" v-if="editNode != null && editNode.tag">
                    name:<el-input v-model="editNode.name" :placeholder="editNode.tag"></el-input>
                    tag:
                    <el-select v-model="editNode.tag" placeholder="请选择">
                        <el-option
                            v-for="item of allEnableTag"
                            :key="item.tag"
                            :label="item.tag"
                            :value="item.tag">
                        </el-option>
                    </el-select>
                    content:<el-input v-model="editNode.content"></el-input>
                    <el-divider content-position="left">vue属性</el-divider>
                    <span>v-for</span>
                    <el-input v-model="editNode.attr['v-for']"></el-input>
                    <span>v-if</span>
                    <el-input v-model="editNode.attr['v-if']"></el-input>
                    <span>@click</span>
                    <el-input v-model="editNode.attr['@click']"></el-input>
                    <el-divider content-position="left">标签属性</el-divider>
                    <div v-for="item in (allEnableTag[editNode.tag] ? allEnableTag[editNode.tag].props : [])">
                        <span>{{item.name}}</span>
                        <span>{{item.key}}</span>
                        <el-input v-model="editNode.attr[item.key]"></el-input>
                    </div>
                </div>
            </el-aside>
        </el-container>
    </el-container>

</div>
</body>
<script src="https://cdn.bootcdn.net/ajax/libs/axios/1.5.0/axios.min.js"></script>
<!--<script src="https://unpkg.com/vue@2/dist/vue.js"></script>-->
<script src="./js/vue2.0.js"></script>
<!-- import JavaScript -->
<!--<script src="https://unpkg.com/element-ui/lib/index.js"></script>-->
<script src="./js/element.js"></script>
<script src="./js/test.js" ></script>
<script src="./js/commonweb.js" ></script>
<script src="./js/2.vue-editor.js" ></script>
<script src="./js/64.vue-editor.js" ></script>
<script src="./js/vue-editor.js" ></script>
<script>

    Array.prototype.remove = function(b) {
        var a = this.indexOf(b);
        if (a >= 0) {
            this.splice(a, 1);
            return true;
        }
        return false;
    };
    NetUtils = {};
    NetUtils.get = function (url,param){
        return axios.get(url,{params:param}).then(resp=>resp.data)
    }
    NetUtils.post = function (url,param){
        return axios.post(url,param).then(resp=>resp.data)
    }

    let id = 1000;
    let GlobalData = {
        data:{
            configData:{},
            name: 'mwy',
            array:[1,2,3,4],
            other:{}
        },
        props: ['message'],
        methods: {
            ccA () {
                alert("cc")
                console.log(this)
            },
            sendMsg(){
                alert("sendMsg");
                this.array.push(++id);
            },
            addOne(){

            },
            didEvent(e,param){
                methodConfig[e].run(param);
            }

        }
    }
    let globalCom = {
        data: function (){
            return GlobalData.data;
        },
        props: ['message'],
        template:"<div v-on:click='ccA'>{{message}} cc</div>",
        methods: GlobalData.methods
    }
    let copyGlobal = JSON.parse(JSON.stringify(globalCom));
    copyGlobal.methods = globalCom.methods;
    Vue.component("my-cc", copyGlobal)


    vue = new Vue({
        el: '#app',
        components: {
            MonacoEditor:MonacoEditor.default
        },
        data: function () {
            return {
                scriptDialogVisible:false,
                configDialogVisible:false,
                viewDialogVisible:false,
                actTab:"first",
                editor:null,
                latestComponentVersion:"my-cc",
                visible: false,
                helloMessage: '<div >Hello from MyComponent!</div>',
                treeTag: JSON.parse(localStorage.getItem("treeTagData")) || [{
                    id:1000,
                    name: "根节点",
                    tag:"div",
                    children: [],
                    attr:{}
                }],
                editNode: {attr:{}},
                allEnableTag:allTags,
                dataConfigJson:localStorage.getItem("dataConfigJson") || "{}",
                code:localStorage.getItem("methods") || "//不可删除\n" + "let $obj= GlobalData.methods || {};",
                editorOptions: {
                    selectOnLineNumbers: true,
                    renderLineHighlight: 'none',
                    readOnly: false,
                    suggestOnTriggerCharacters: true,
                    wordBasedSuggestions: true,
                    wrapperClassName: 'editor-wrapper',
                    className: 'editor-container',
                    automaticLayout: true,
                    glyphMargin: true,
                    lineNumbers: 'on',
                    theme: 'vs-dark'
                },
            }
        },
        mounted(){
            function findMaxId(r){
                for (let item of r) {
                    if (item.id > id){
                        id = item.id;
                        console.log("fixMaxId:"+id)
                    }
                    if (item.children){
                        findMaxId(item.children)
                    }
                }
            }
            findMaxId(this.treeTag);
            eval(localStorage.getItem("methods"));
            this.configDialogBeforeClose(()=>{});
            this.refreshOut();
        },
        computed:{
            viewConfigJson:function (){
                console.log("viewConfigJson:",GlobalData.data.other)
                return JSON.stringify(GlobalData.data.other,null,2)
            }
        },
        methods: {
            viewDialogBeforeClose(done){
                done();
            },
            configDialogBeforeClose(done){
                let obj = eval("GlobalData.data.configData="+this.dataConfigJson);
                console.log(this.dataConfigJson)
                done();
            },
            handleDragEnd(draggingNode, dropNode, dropType, ev){
                console.log('tree drag end: ', dropNode && dropNode.label, dropType);
            },
            refreshOut(){
                treeRoot = JSON.parse(JSON.stringify(this.treeTag[0]));
                let t =  buildTree(treeRoot);
                let copyGlobal = {}
                copyGlobal.data = function (){return GlobalData.data;};
                copyGlobal.props = ["editnodeid"]
                copyGlobal.methods = GlobalData.methods;
                copyGlobal.template = t;
                // console.log(copyGlobal)
                console.log(copyGlobal.template)
                let cv = "my-cc"+(++id);
                Vue.component(cv, copyGlobal)
                this.helloMessage = ++id;
                this.latestComponentVersion = cv;
                this.saveData();
            },
            append(data) {
                const newChild = {id: ++id, tag: 'div', children: [], attr:{}};
                if (!data.children) {
                    this.$set(data, 'children', []);
                }
                data.children.push(newChild);
                this.refreshOut();
            },
            remove(node, data) {
                if (!this.treeTag || (this.treeTag.length == 1 && this.treeTag[0] == data)){
                    alert("根节点必须有一个")
                    return;
                }
                const parent = node.parent;
                const children = parent.data.children || parent.data;
                const index = children.findIndex(d => d.id === data.id);
                children.splice(index, 1);
                this.refreshOut();
            },
            handleNodeClick(data){
                this.editNode = data;
                console.log(data)
            },
            incrementTotal: function () {
                this.total += 1
                console.log(this.total)
            },
            saveData(){
                localStorage.setItem("treeTagData",JSON.stringify(this.treeTag))
                localStorage.setItem("methods",this.code)
                localStorage.setItem("dataConfigJson",this.dataConfigJson)
            },
            codeFinish(done){
                eval(this.code);
                done();
                this.refreshOut();
            }
        },
    })
    function toGString(obj){
        let str = "let $obj={};";
        for (const key in obj) {
            if (obj.hasOwnProperty(key)) {
                str += "$obj." +key + '=';
                const value = obj[key];
                if (typeof value === 'function'){
                    let ts = Function.prototype.toString.call(value);
                    if (ts.startsWith("function")){
                        str += ts;
                    }else str += " function " + ts;
                }else{
                    str += JSON.stringify(value);
                }
                 str += '\n;';
            }
        }
        return str += ";$obj;";
    }
    treeRoot = {
        name: "div",
        children: []
    }

    treeRoot.children.push({
        name: "el-Button",
        children: [{name: 'txt', content: "xxx"}]
    })

    function buildTree(root) {
        l = "";
        if (root.tag == 'txt') {
            l+=`<span :class="${root.id}==editnodeid ? 'redBoard' : ''">${root.content}</span>`
        }else if (root.selfTag === true) {
            let attr = " ";
            if (root.attr){
                for (let item in root.attr) {
                    attr += item + "="+ root.attr[item]+" ";
                }
            }
            l += `<${root.tag} ${attr} :class="${root.id}==editnodeid ? 'redBoard' : ''"/>`
        } else {
            let attr = " ";
            if (root.attr){
                for (let item in root.attr) {
                    if (root.attr[item] !== undefined && root.attr[item] !== ''){
                        attr += item + "="+ root.attr[item]+" ";
                    }
                }
            }
            l += `<${root.tag} ${attr} :class="${root.id}==editnodeid ? 'redBoard' : ''">`
            if (root.children) {
                for (let i = 0; i < root.children.length; i++) {
                    l += buildTree(root.children[i])
                }
            }
            l += `</${root.tag}>`
        }
        return l;
    }


</script>
</html>