<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.bootcdn.net/ajax/libs/element-ui/2.15.14/theme-chalk/index.min.css" rel="stylesheet">
    <style type="text/css">
        html,
        body {
            margin: 0;
            padding: 0;
            height: 100%;
        }

        #app, .box {
            height: 100%;
        }

        .el-container {
            height: 100%;
        }


        .custom-tree-node {
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-size: 14px;
            padding-right: 8px;
        }

        .treeItemOp:hover {
            color: #5bb6ff;
        }

        .myEditor {
            height: 500px;
        }

        .redBoard {
            border: 1px solid red;
        }

        .el-tree {
            display: inline-block;
            min-width: 100%;
        }
    </style>
</head>
<body>
<div id="app">
    <el-container>
        <el-header style="position: fixed;height: 60px;width: 100%; background-color: #3a8ee6">
            <span style="font-size: 20px;font-weight: bold;line-height: 60px">可视化页面编辑器:{{this.pageId}}</span>
            <el-button icon="el-icon-success" type="success" style="float: right;margin-top: 9px" @click="saveToRemote">
                保存
            </el-button>
            <el-Button icon="el-icon-refresh" type="success" style="float: right;margin-top: 9px;margin-right: 5px"
                       @click="refreshOut">刷新
            </el-Button>
        </el-header>
        <el-container style="padding-top: 60px">
            <el-aside width="250px">
                <el-tabs v-model="actTab">
                    <el-tab-pane label="标签树" name="first">
                        <div style="overflow: auto;height: 100%;width: 100%">
                            <el-tree
                                    :data="treeTag"
                                    node-key="id"
                                    draggable
                                    @node-drag-end="handleDragEnd"
                                    :expand-on-click-node="false"
                                    @node-click="handleNodeClick"
                                    default-expand-all>
                                <span class="custom-tree-node" slot-scope="{ node, data }">
                                    <span :class="data.id==editNode.id ? 'redBoard' : ''">{{ data.name || data.tag }}</span>
                                    <span>
                                        <i class="el-icon-circle-plus treeItemOp" @click="() => append(data)"></i>
                                        <i class="el-icon-remove treeItemOp" @click="() => remove(node, data)"></i>
                                    </span>
                                </span>
                            </el-tree>
                        </div>
                    </el-tab-pane>
                    <el-tab-pane label="数据源" name="second">
                        <el-button @click="configDialogVisible = true">配置类</el-button>
                        <el-dialog
                                v-if="configDialogVisible"
                                title="配置类数据"
                                :visible.sync="configDialogVisible"
                                width="90%"
                                :before-close="configDialogBeforeClose">
                            <monaco-editor
                                    class="myEditor"
                                    v-model="dataConfigJson"
                                    language="javascript"
                                    :options="editorOptions"
                            ></monaco-editor>
                        </el-dialog>
                        <el-button @click="viewDialogVisible=true">视图类</el-button>
                        <el-dialog
                                v-if="viewDialogVisible"
                                title="视图类数据"
                                :visible.sync="viewDialogVisible"
                                width="90%"
                                :before-close="viewDialogBeforeClose">
                            <div>视图数据编辑无效</div>
                            <monaco-editor
                                    class="myEditor"
                                    v-model="viewConfigJson"
                                    language="javascript"
                                    :options="editorOptions"
                            ></monaco-editor>
                        </el-dialog>
                        <el-button @click="scriptDialogVisible=true">脚本类</el-button>
                        <el-dialog
                                v-if="scriptDialogVisible"
                                title="视图类数据"
                                :visible.sync="scriptDialogVisible"
                                width="90%"
                                :before-close="codeFinish">
                            <monaco-editor
                                    class="myEditor"
                                    v-model="code"
                                    language="javascript"
                                    :options="editorOptions"
                            ></monaco-editor>
                        </el-dialog>
                    </el-tab-pane>
                </el-tabs>
            </el-aside>
            <el-main>
                <component v-if="latestComponentVersion != ''" v-bind:is="latestComponentVersion"
                           :editnodeid="editNode.id"></component>
            </el-main>
            <el-aside width="250px">
                <div class="grid-content bg-purple" v-if="editNode != null && editNode.tag">
                    节点名称:
                    <el-input v-model="editNode.name" :placeholder="editNode.tag"></el-input>
                    节点标签:
                    <el-select v-model="editNode.tag" filterable placeholder="请选择">
                        <el-option
                                v-for="item of allEnableTag"
                                :key="item.tag"
                                :label="item.tag"
                                :value="item.tag">
                        </el-option>
                    </el-select>
                    <template v-if="editNode.tag=='txt'">
                        <div>文本内容:
                            <el-input v-model="editNode.content"></el-input>
                        </div>
                    </template>
                    <template v-if="editNode.tag!='txt'">
                        <el-divider content-position="left">vue属性</el-divider>
                        <span>style</span>
                        <el-input v-model="editNode.attr['style']"></el-input>
                        <span>v-for</span>
                        <el-input v-model="editNode.attr['v-for']"></el-input>
                        <span>v-if</span>
                        <el-input v-model="editNode.attr['v-if']"></el-input>
                        <span>@click</span>
                        <el-input v-model="editNode.attr['@click']"></el-input>
                        <span>绑定变量</span>
                        <el-input v-model="editNode.attr['v-model']"></el-input>

                        <el-divider content-position="left">标签属性</el-divider>
                        <div v-for="item in (allEnableTag[editNode.tag] ? getAllProps(allEnableTag[editNode.tag].props,editNode) : [])">
                            <span>{{item.name}}</span>
                            <span>{{item.key}}</span>
                            <el-input v-model="editNode.attr[item.key]"></el-input>
                        </div>
                    </template>
                </div>
            </el-aside>
        </el-container>
    </el-container>

</div>
</body>
<script src="https://cdn.bootcdn.net/ajax/libs/axios/1.5.0/axios.min.js"></script>
<script src="./js/vue2.0.js"></script>
<script src="./js/element.js"></script>
<script src="./js/test.js"></script>
<script src="./js/commonweb.js"></script>
<script src="./js/2.vue-editor.js"></script>
<script src="./js/64.vue-editor.js"></script>
<script src="./js/vue-editor.js"></script>
<script>

    Array.prototype.remove = function (b) {
        var a = this.indexOf(b);
        if (a >= 0) {
            this.splice(a, 1);
            return true;
        }
        return false;
    };
    NetUtils = {};
    NetUtils.get = function (url, param) {
        return axios.get(url, {params: param}).then(resp => resp.data)
    }
    NetUtils.post = function (url, param) {
        return axios.post(url, param).then(resp => resp.data)
    }

    //随机页面id
    function randomPageId() {
        function S4() {
            return (((1 + Math.random()) * 0x10000) | 0).toString(16).substring(1);
        }

        return (S4() + S4() + "-" + S4() + "-" + S4() + "-" + S4());
    }

    //url参数解析
    function parseUrlParams(url) {
        const params = {};
        if (!url || !url.split('?')[1]){
            return params;
        }
        const searchParams = url.split('?')[1].split('&');

        for (const param of searchParams) {
            const [key, value] = param.split('=');

            if (params.hasOwnProperty(key)) {
                if (Array.isArray(params[key])) {
                    params[key].push(value);
                } else {
                    params[key] = [params[key], value];
                }
            } else {
                params[key] = value;
            }
        }

        return params;
    }

    let id = 1000;
    let GlobalData = {
        data: {
            configData: {},
            other: {}
        },
        methods: {}
    }


    vue = new Vue({
        el: '#app',
        components: {
            MonacoEditor: MonacoEditor.default
        },
        data: function () {
            return {
                pageId: "",
                scriptDialogVisible: false,
                configDialogVisible: false,
                viewDialogVisible: false,
                actTab: "first",
                editor: null,
                latestComponentVersion: "",
                visible: false,
                helloMessage: '<div >Hello from MyComponent!</div>',
                treeTag: [{
                    id: 1000,
                    name: "根节点",
                    tag: "div",
                    children: [],
                    attr: {}
                }],
                editNode: {attr: {}},
                allEnableTag: allTags,
                dataConfigJson: "{}",
                code: "//不可删除\n" + "let $obj= GlobalData.methods || {};",
                editorOptions: {
                    selectOnLineNumbers: true,
                    renderLineHighlight: 'none',
                    readOnly: false,
                    suggestOnTriggerCharacters: true,
                    wordBasedSuggestions: true,
                    wrapperClassName: 'editor-wrapper',
                    className: 'editor-container',
                    automaticLayout: true,
                    glyphMargin: true,
                    lineNumbers: 'on',
                    theme: 'vs-dark'
                },
            }
        },
        mounted() {
            function findMaxId(r, maxId) {
                for (let item of r) {
                    maxId = Math.max(item.id, maxId)
                    if (item.children && item.children.length > 0) {
                        maxId = Math.max(findMaxId(item.children, maxId), maxId)
                    }
                }
                return maxId;
            }

            let queryParam = parseUrlParams(location.href);
            this.pageId = queryParam.pageId;

            if (this.pageId !== "" && this.pageId !== undefined && this.pageId !== null) {
                //本地加载
                let pageLocalData = JSON.parse(localStorage.getItem(this.pageId))
                if (pageLocalData){
                    this.treeTag = JSON.parse(pageLocalData.treeTagData)
                    this.code = pageLocalData.methods;
                    this.dataConfigJson = pageLocalData.dataConfigJson;
                    eval(pageLocalData.methods);
                    eval("GlobalData.data.configData=" + pageLocalData.dataConfigJson);
                    id = findMaxId(this.treeTag, id);
                    this.refreshOut();
                }

                //远程加载
                NetUtils.get("/data/test/queryWebPage", {pageId: queryParam.pageId}).then(resp => {
                    this.$confirm('检测到远程数据，是否采用', '确认信息', {
                        distinguishCancelAndClose: true,
                        confirmButtonText: '采用',
                        cancelButtonText: '放弃'
                    }).then(() => {
                        //远程数据
                        let pageData = JSON.parse(resp[0].page_data);
                        this.treeTag = JSON.parse(pageData.treeTagData)
                        this.code = pageData.methods;
                        this.dataConfigJson = pageData.dataConfigJson;
                        eval(pageData.methods);
                        eval("GlobalData.data.configData=" + pageData.dataConfigJson);
                        id = findMaxId(this.treeTag, 1000);
                        this.$message({
                            type: 'info',
                            message: '采用远程'
                        });
                        this.refreshOut();
                    }).catch(() => {
                        this.$message({
                            type: 'info',
                            message: '采用本地'
                        });
                    })
                })
            }
        },
        computed: {
            viewConfigJson: function () {
                console.log("viewConfigJson:", GlobalData.data.other)
                return JSON.stringify(GlobalData.data.other, null, 2)
            }
        },
        methods: {
            getAllProps(props, editNode) {
                let p = {};
                let allAttr = Object.keys(editNode.attr);
                for (let attrKey of allAttr) {
                    if (editNode.attr[attrKey] != null && editNode.attr[attrKey] != "") {
                        p[attrKey] = {
                            name: attrKey,
                            key: attrKey
                        }
                    }
                }
                if (props) {
                    for (let prop of props) {
                        p[prop.key] = prop
                    }
                }
                let arr = [];
                for (let key in p) {
                    arr.push(p[key]);
                }
                return arr.sort((a, b) => {
                    return a.key > b.key ? 1 : a.key < b.key ? -1 : 0
                })
            },
            viewDialogBeforeClose(done) {
                done();
            },
            configDialogBeforeClose(done) {
                let obj = eval("GlobalData.data.configData=" + this.dataConfigJson);
                console.log(this.dataConfigJson)
                done();
            },
            handleDragEnd(draggingNode, dropNode, dropType, ev) {
                console.log('tree drag end: ', dropNode && dropNode.label, dropType);
            },
            refreshOut() {
                let t = buildTree(JSON.parse(JSON.stringify(this.treeTag[0])));
                let copyGlobal = {}
                copyGlobal.data = function () {
                    return GlobalData.data;
                };
                copyGlobal.props = ["editnodeid"]
                copyGlobal.methods = GlobalData.methods;
                copyGlobal.template = t;
                console.log(copyGlobal.template)
                let cv = "my-cc" + (++id);
                Vue.component(cv, copyGlobal)
                this.latestComponentVersion = cv;
                this.saveData();
            },
            append(data) {
                const newChild = {id: ++id, tag: 'div', children: [], attr: {}};
                if (!data.children) {
                    this.$set(data, 'children', []);
                }
                data.children.push(newChild);
                this.refreshOut();
            },
            remove(node, data) {
                if (!this.treeTag || (this.treeTag.length == 1 && this.treeTag[0] == data)) {
                    alert("根节点必须有一个")
                    return;
                }
                const parent = node.parent;
                const children = parent.data.children || parent.data;
                const index = children.findIndex(d => d.id === data.id);
                children.splice(index, 1);
                this.refreshOut();
            },
            handleNodeClick(data) {
                this.editNode = data;
                console.log(data)
            },
            incrementTotal: function () {
                this.total += 1
                console.log(this.total)
            },
            saveData() {
                let pageData = {
                    treeTagData: JSON.stringify(this.treeTag),
                    methods: this.code,
                    dataConfigJson: this.dataConfigJson
                }
                this.pageId = this.pageId || randomPageId();
                localStorage.setItem(this.pageId, JSON.stringify(pageData));
            },
            saveToRemote() {
                let pageData = {
                    treeTagData: JSON.stringify(this.treeTag),
                    methods: this.code,
                    dataConfigJson: this.dataConfigJson
                }
                let update = parseUrlParams(location.href).pageId != null;
                if (!this.pageId) {
                    this.pageId = randomPageId();
                }
                let param = {
                    pageId: this.pageId,
                    pageData: JSON.stringify(pageData)
                }
                if (!update) {
                    NetUtils.post("/data/test/createWebPage", param).then(resp => {
                        alert("页面保存成功")
                    })
                } else {
                    NetUtils.post("/data/test/updateWebPage", param).then(resp => {
                        alert("页面保存成功")
                    })
                }

            },
            codeFinish(done) {
                eval(this.code);
                done();
                this.refreshOut();
            }
        },
        errorCaptured(error, vm, info) {
            console.error('Component Error Handler:', error, vm, info);
            this.result = "An error occurred. Please try again later.";
            return false;
        },
    })

    function buildTree(root, preBlank) {
        preBlank = preBlank === undefined ? " " : preBlank
        let l = "";
        if (root.tag == 'txt') {
            l += preBlank + `<span :class="${root.id}==editnodeid ? 'redBoard' : ''">${root.content}</span>\n`
        } else if (root.selfTag === true) {
            let attr = " ";
            if (root.attr) {
                for (let item in root.attr) {
                    if (root.attr[item].startsWith(":")) {
                        attr += ":" + item + "=" + root.attr[item].slice(1) + " ";
                    } else {
                        attr += item + "=" + root.attr[item] + " ";
                    }
                }
            }
            l += preBlank + `<${root.tag} ${attr} :class="${root.id}==editnodeid ? 'redBoard' : ''"/>\n`
        } else {
            let attr = " ";
            if (root.attr) {
                for (let item in root.attr) {
                    if (root.attr[item] !== undefined && root.attr[item] !== '') {
                        if (root.attr[item].startsWith(":")) {
                            attr += ":" + item + "=" + root.attr[item].slice(1) + " ";
                        } else {
                            attr += item + "=" + root.attr[item] + " ";
                        }
                    }
                }
            }
            l += preBlank + `<${root.tag} ${attr} :class="${root.id}==editnodeid ? 'redBoard' : ''">\n`
            if (root.children) {
                for (let i = 0; i < root.children.length; i++) {
                    l += buildTree(root.children[i], preBlank + "  ")
                }
            }
            l += preBlank + `</${root.tag}> \n`
        }
        return l;
    }


</script>
</html>